.contact{
    
    font-size: x-large;
    padding-top: 0%;
    
}
p{
    padding-left: 30px;
}

a{
    text-decoration: none;
    color:rebeccapurple;
}
a:hover{
    
    color: rgb(221, 12, 12);
}
span{
    font-weight: bolder;
}
.info{
    margin-top: 5px;
    margin-bottom: 0%;
}
.inf{
    margin-top: 5px;
}