


.fullheight{
    height:100%;
    background-color: rgb(169, 169, 169);
}








.listspace{
    margin:10px;
    padding: 10px;
}


 
        .contmargin{
            margin-top: 30px;
          
           
        }

       img{
           width:250px;
           margin-top: 20px;
       }
        
        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 450px;
            perspective: 800px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
        }
          
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
        
            transition: transform 0.8s;
            transform-style: preserve-3d;
            box-shadow: 0px 25px 25px 0 rgb(68, 67, 67);
          }
          
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }

          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
           
          }
          
          .flip-card-front {
            background-color: rgb(153, 145, 145);
            color: black;
          }
          
          .flip-card-back {
            background-color: rgb(147, 153, 158);
            color: rgb(8, 8, 8);
            transform: rotateY(180deg);
            font-size: large;
            font-weight: bolder;

          }
          .card-title{
            margin-top: 40px;
        }
        .card-text{
            margin-top: 30px;
        }
        .contact{
            position: absolute;
            bottom: 0;
        }

        
  

    /* for desktop*/
    
    @media (min-width: 992px) { 
        .contmargin{
            margin-top: 30px;
       
           
        }

        .contact{
       
       width: 100%;
        }

        
           img{
               width: 280px;
               margin-top: 20px;
           }

           .card-title{
               margin-top: 30px;
           }
           
            .flip-card {
                background-color: transparent;
                width: 350px;
                height: 450px;
                perspective: 800px;
                margin-left: 350px;
                
              }
              
              .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
            
                transition: transform 0.8s;
                transform-style: preserve-3d;
                box-shadow: 10px 80px 160px 30px rgba(65, 64, 64, 0.671);
              }
              
              .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
              }

              .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
              }
              
              .flip-card-front {
                background-color: rgb(175, 169, 169);
                color: black;
              }
              
              .flip-card-back {
                background-color: rgb(147, 153, 158);
                color: rgb(8, 8, 8);
                transform: rotateY(180deg);
                font-size: large;
                font-weight: bolder;

              }

            
               
            
     }
     