

h1{
    padding-left:30px;
    margin-bottom: 5px;
    margin:0%;
    font-size: 40px;
}

hr{
   
   margin-bottom: 0px;
   margin-top:5px;
   background-color: rgb(7, 7, 7);
}
.h{
    margin-top: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;

}